
@{
    ViewBag.Title = "Index";
}

<div class="panel panel-primary">
    <div class="panel-heading">
        <div class="panel-body">
            Hola mundo
            <div>
                Nueva Linea
            </div>
        </div>
    </div>
</div>

